*.class
.vagrant
Vagrantfile
.vscode/
EbProjEditor/META-INF/MANIFEST.MF
EbProjEditor/EbProjEdit.jar
EbProjEditor/manifest-addition.txt
EbProjEditor/buildjar.bat
EbProjEditor/META-INF/maven/org.yaml/snakeyaml/pom.properties
EbProjEditor/META-INF/maven/org.yaml/snakeyaml/pom.xml
