*.class
.vagrant
.vscode/
CoilSnakeProject/
EbProjEditor/buildjar.bat
EbProjEditor/EbProjEdit.jar
EbProjEditor/manifest-addition.txt
EbProjEditor/META-INF/MANIFEST.MF
EbProjEditor/META-INF/maven/org.yaml/snakeyaml/pom.properties
EbProjEditor/META-INF/maven/org.yaml/snakeyaml/pom.xml
Vagrantfile